<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Filter</key>
	<dict>
		<key>Bundles</key>
		<array>
			<!-- iCloud backup uyarısı + SW update rozeti -->
			<string>com.apple.Preferences</string>
			<!-- Otomatik güncelleme indirme/yükleme daemon'u -->
			<string>com.apple.MobileAssetd</string>
			<!-- Yazılım güncelleme servisi (iOS 15+) -->
			<string>com.apple.softwareupdated</string>
		</array>
	</dict>
</dict>
</plist>
